@tailwind base;
@tailwind components;
@tailwind utilities;

.editor ul{
  list-style: disc;
  margin: 0;
  padding: 0;
}

.editor ol{
  list-style: decimal;
  margin: 0;
  padding: 0;
}

.editor blockquote{
  font-family: Times New Roman;
  font-style: italic;
  color: #00000;
  background-color: #cad8de;
  width: fit-content;
  padding: 4px;
  margin: 10px;
}

.editor pre {
  display: block;
  color: #ffffff;
  background: #000000;
  white-space: pre;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 250px;
  padding: 5px;
  margin: 10px;
  width: fit-content;
}

.editor a{
  color: blue;
  text-decoration: underline;
}

#identicon{
  width: 16vh;
  aspect-ratio: 1 / 1;
}

.head{
  z-index: 9999;
  position: relative;
}

.head nav{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  width: 420px;
  z-index: 100;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 1s all cubic-bezier(0.080, 0.9, 0.18, 1) 0.2s;
}

.head nav a{
  color: #000;
  text-decoration: none;
  font-weight: 700;
  padding: 10px 16px;
  font-size: 18px;
  letter-spacing: 1.8px;
  transition: 0.3s all cubic-bezier(0.080, 0.9, 0.18, 1) 0.6s, 0.3s color ease;
}

.head nav a:hover{
  color: blue;
}

.head nav button{
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 60px;
  height: 60px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
  cursor: pointer;
  transform: scale(0);
  transition: 0.3s all cubic-bezier(0.080, 0.9, 0.18, 1) 0.2s;
}

.head nav button span{
  width: 50%;
  background-color: #fff;
  height: 3px;
  display: block;
  margin: 4px auto;
  transform: scale(0);
  transition: 0.6s transform cubic-bezier(0.080, 0.9, 0.18, 1) 0s, 0.3s margin ease-in 0s;
}

.head nav button:hover span{
  margin: 9px auto;
}

.head.sticky nav{
  padding: 0;
  width: 80px;
  height: 80px;
}

.head.sticky nav button{
  transform: scale(1);
  transition-delay: 0.3s;
}

.head.sticky nav button span{
  transform: scaleX(1);
  transition: 0.6s transform cubic-bezier(0.080, 0.9, 0.18, 1) 0.8s, 0.3s margin ease-in 0s;
}

.head.sticky nav a{
  opacity: 0;
  transform: scale(0.3);
  transition-delay: 0.1s;
}

@media screen and (max-width: 700px) {
  

  .head nav{
      height: 60px;
      width: 390px;
  }


  .head nav button{
      width: 50px;
      height: 50px;
  }


  .head nav a{
      font-size: 16px;
  }


  .head.sticky nav{
      width: 70px;
      height: 70px;
  }

}