@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.navbody{
    margin: 0;
    background: #121212;
}

.navbutton{
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.sidebar{
    z-index: 200;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 75px;
    height: 600px;
    background: rgb(3 105 161);
    transition: all 0.4s;
}

.navbody.open .sidebar{
    width: 240px;
}

.sidebar-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
}

.sidebar-header{
    display: flex;
    align-items: center;
    height: 68px;
    padding: 0 1.25rem 0 0;
    background: rgba(0, 0, 0, 0.1);
    border-left: 3px solid transparent;
    transition: all 0.4s;
}

.sidebar-header:hover{
    border-left: 3px solid #bdbdbd;
}

.sidebar-burger{
    width: 70px;
    height: 70px;
    display: grid;
    place-items: center;
}

.sidebar-burger > i, .navbody.open .sidebar-burger > i{
    font-size: 25px;
    color: #f9f9f9;
    transition: all 0.4s;
}

.sidebar-burger:hover > i, .navbody.open .sidebar-burger:hover > i{
    color: #bdbdbd;
}

.sidebar-logo{
    height: 30px;
    opacity: 0;
    transition: all 0.4s;
}

.navbody.open .sidebar-logo{
    opacity: 1;
    transition: all 0.4s;
}

.sidebar-menu{
    display: grid;
}

.sidebar-menu > .navbutton{
    display: flex;
    gap: 12px;
    align-items: center;
    height: 55px;
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1;
    padding: 0 22px;
    border-left: 3px solid transparent;
    transition: all 0.4s;
}

.sidebar-menu > .navbutton:hover{
    border-left: 3px solid #f9f9f9;
}

.sidebar-menu > .navbutton.has-border{
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    margin-bottom: 1rem;
}

.sidebar-menu > .navbutton > i{
    font-size: 25px;
    color: #f9f9f9;
    transition: all 0.4s;
}

.sidebar-menu > .navbutton:hover > i, .sidebar-menu > .navbutton:hover > span{
    color: #bdbdbd;
}

.sidebar-menu > .navbutton > span{
    color: #f9f9f9;
    opacity: 0;
    transition: all 0.4s;
}

.navbody.open .sidebar-menu > .navbutton > span{
    opacity: 1;
    transition: all 0.4s;
}

@media screen and (max-width: 1190px) {
    


    .sidebar{
        top: 10%;
        height: 65px;
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        position: fixed;
    }
}